<ul><li ng-repeat="tv in tvs"><a href="/#/tv/{{tv.id}}" ng-bind-html-unsafe="tv.title"></a></li></ul>

			<section id="main" class="tv expanded" ng-switch="loadedyet" data-ng-animate="'fade'">
				<div class="wrapper">
					<ul class="breadcrumb">
						<li><a href="/">Home</a> <span class="divider">/</span></li>
						<li><a href="/tv">TV</a> <span class="divider">/</span></li>
						<li class="active" ng-bind-html-unsafe="tv.title"></li>
					</ul>
					<h2 ng-bind-html-unsafe="tv.title"></h2>
					<div class="row-fluid">
						<div class="span6">
							<p ng-switch-when="notyet">Loading video...</p>
							<iframe height=498 width=510 src="http://player.youku.com/embed/{{tv.content}}" frameborder=0 allowfullscreen ng-switch-when="loaded"></iframe>
							<a class="btn btn-primary" href="{{tv.watchlink}}">{{tv.watchlinktitle}}</a>
						</div>
						<div class="span6">
							<div class="content">
								<div ng-bind-html-unsafe="tv.description"></div>
								<div class="related" ng-hide="!tv.relatedcontent.length">
									<div ng-bind-html-unsafe="tv.relatedcontent"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="nav">
				
			<section id="books" data-ng-animate="'fade'">
			
				<a href="/#/books" class="section-toggle books" title="Browse the books I've written or contributed to">
				
					<h2>Books</h2>

					<div class="circle"><i class="icon icon-book"></i></div>

				</a>
			
			</section><!--

		8--><section id="tv" data-ng-animate="'fade'">
			
				<a href="/#/tv/40" class="section-toggle television" title="Watch the TV programmes I've appeared in">
				
					<h2>Television</h2>

					<div class="circle"><i class="icon icon-desktop"></i></div>

				</a>

			</section><!--

		8--><section id="apps" data-ng-animate="'fade'">
			
				<a href="/#/app/63" class="section-toggle apps" title="Find out about the apps I've created or contributed to">
				
					<h2>Apps</h2>

					<div class="circle"><i class="icon icon-mobile-phone"></i></div>

				</a>

			</section><!--
		
		8--><section id="articles" data-ng-animate="'fade'">
			
				<a href="/#/articles" class="section-toggle articles" title="Browse the articles I've written">
				
					<h2>Articles</h2>

					<div class="circle"><i class="icon icon-file-alt"></i></div>

				</a>

			</section>

			</div>